@model IEnumerable<ProyectoLenguajes.Models.ACCOUNT>
@using System.Security.Claims;
@using ProyectoLenguajes.Data;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Display";
    TestUCRContext db = new TestUCRContext();

    var userNameM = User.FindFirstValue(ClaimTypes.Name);//To get the username of current account
    var id = db.ACCOUNTs
    .Where(a => a.userName == userNameM)
    .Select(a => a.idAccount)
    .FirstOrDefault();//To get the id of de current account in our database
    var imge = db.ACCOUNTs
    .Where(a => a.userName == userNameM)
    .Select(a => a.img)
    .FirstOrDefault();//To get the img of the current account in our database
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="~/css/superadmin.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />


</head>

<body class="navbar navbar-expand-lg navbar-light bg-light">
    <header>
        <div class="container">
            <h2 class="title">Hello!</h2>

            <!--NAVBAR-->
            <nav class="navbar navbar-expand-sm navbar navbar-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones" style="background-color: #DDE9F8">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="opciones">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/SuperAdmin/Home" style="color: #ffffff;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SuperAdmin/Details/@id" style="color: #ffffff;">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SuperAdmin/AboutOf" style="color: #ffffff;">About Of</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SuperAdmin/Options" style="color: #ffffff;">Options</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/UserAuthentication/Logout" style="color: #ffffff;">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <hr />
    <h1><center>Accounts</center></h1>

    <p>
        <a asp-action="Create" class="btn btn-primary glyphicon glyphicon-plus-sign"></a>
    </p>
    <form asp-controller="SuperAdmin" asp-action="DownloadPDF">
        <button class="btn btn-success" type="submit" id="btnReport">Report</button>
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.roll)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.userName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.idAccount" class="btn btn-primary glyphicon glyphicon-pencil"></a> |
                            <a asp-action="Details" asp-route-id="@item.idAccount" class="btn btn-primary glyphicon glyphicon-user"></a> |
                            <a asp-action="Delete" asp-route-id="@item.idAccount" class="btn btn-primary glyphicon glyphicon-trash"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--JS-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
