@model IEnumerable<ProyectoLenguajes.Models.CHAPTER>
<link rel="stylesheet" href="~/css/tables.css">
<header>
    <div class="navbar">
        @{
            Html.RenderPartial("_Navbar");
        }
    </div>
</header>
<div>
    <button class="createBTN">
        <a asp-action="Create">Create New</a>
    </button>
</div>
<br />
<div class="wrapper">

        <table class="table">
            <caption>
                All Episodes
            </caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.numChapter)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.season)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.idSerie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.img)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td data-cell="Num Chapter">
                        @Html.DisplayFor(modelItem => item.numChapter)
                    </td>
                    <td data-cell="Name">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td data-cell="Duration">
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td data-cell="Seasson">
                        @Html.DisplayFor(modelItem => item.season)
                    </td>
                    <td data-cell="id Serie">
                        @Html.DisplayFor(modelItem => item.idSerie)
                    </td>
                    <td data-cell ="Image">
                            <div class="image"><img src="@item.img"></div>
                    </td>
                    <td data-cell="Description">
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td data-cell="Options">
                        <div class="button-container">
                        <div>
                            <button> <a asp-action="Edit" asp-route-id="@item.idChapter">Edit</a> </button>
                        </div>
                        <br>
                        <div>
                            <button> <a asp-action="Details" asp-route-id="@item.idChapter">Details</a> </button>
                        </div>
                        <br>
                        <div>
                            <button> <a asp-action="Delete" asp-route-id="@item.idChapter">Delete</a> </button>
                        </div>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
</div>