@model IEnumerable<ProyectoLenguajes.Models.ACCOUNT>
 
@{
    ViewData["Title"] = "Index";
}
@ViewBag.Error
<h1>Display</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Admin" asp-action="DownloadPDF">
    <button class="btn btn-success" type="submit" id="btnReport">Report</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAccount">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idAccount">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idAccount">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
