@model ProyectoLenguajes.Models.MOVIE

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/tables.css">
<header>
    <div class="navbar">
        @{
            Html.RenderPartial("_Navbar");
        }
    </div>
</header>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MOVIE</h4>
    <hr />
    <table>
        <tr>
            <th>Name</th>
            <td>@Html.DisplayFor(model => model.name)</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>@Html.DisplayFor(model => model.duration)</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>@Html.DisplayFor(model => model.year)</td>
        </tr>
        <tr>
            <th>Director</th>
            <td>@Html.DisplayFor(model => model.director)</td>
        </tr>
        <tr>
            <th>Distributor</th>
            <td>@Html.DisplayFor(model => model.distributor)</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><div class="image"><img src="@Model.img"></div></td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Html.DisplayFor(model => model.description)</td>
        </tr>
        <tr>
            <th>Trailer</th>
            <td><iframe class="trailer" src="@Model.trailer" frameborder="1"></iframe></td>
        </tr>
        <tr>
            <th>Punctuation</th>
            <td>@Html.DisplayFor(model => model.punctuation)</td>
        </tr>
    </table>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idMovie" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <button>  <a asp-action="Index">Cancel</a></button>
       
    </form>
</div>
