@model ProyectoLenguajes.Models.MOVIE

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MOVIE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.distributor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distributor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.punctuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.punctuation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idMovie">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
