@model IEnumerable<APPClient.Models.MOVIE>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/superadmin.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />


</head>
<h1><center>Movies</center></h1>

<p>
    <a asp-action="Create" class="btn btn-primary glyphicon glyphicon-plus-sign">ADD</a>
</p>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .grid-item {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }

        .grid-item img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .grid-item .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .grid-item:hover img {
            transform: scale(1.1);
        }

        .grid-item:hover .overlay {
            opacity: 1;
        }

        .grid-item .overlay-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
</style>

<div class="grid-container">
    @foreach (var movie in Model)
    {
        <div class="grid-item">
            <img src="@movie.img" alt="@movie.name">
            <div class="overlay">
                <div class="overlay-content">
                    <h3>@movie.name</h3>
                    <p>@movie.duration</p>
                    <p>@movie.year</p>
                </div>
                <div class="extra d-flex justify-content-center flex-row">
                    @Html.ActionLink("Edit", "Edit", new { id=@movie.idMovie  }) |
                    @Html.ActionLink("Details", "Details", new { id=@movie.idMovie  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=@movie.idMovie  })
                </div>
            </div>
        </div>
    }
</div>
