@using ProyectoLenguajes.Data;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@model IEnumerable<ProyectoLenguajes.Models.GenderMovies>
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/user.css">

    <title>App</title>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>
<body>
    <header>
        <div class="container">
            <h2 class="title">Hello!</h2>
            <a href="Index" class="active">Home</a>
            <a href="#">Profile</a>
            <a href="#">Search</a>
            <a href="#">My List</a>
            <a href="/UserAuthentication/Logout">Log Out</a>
        </div>
        <hr />
    </header>
    <br />
    <main>
        <!--MOVIES-->
        <!--comedy-->
        <div class="box-wrap">

            @foreach (var item in Model)
            {
                <section class="container">
                    <h1 class="subtitle">@item.genderName Movies</h1>
                    <div id="slider-@item.genderName" class="slider">
                        @if (@item.movies.Count() > 0)
                        {
                            @foreach (var movie in @item.movies)
                            {

                                <div class="card">
                                    <div class="cardContent">
                                        <div class="image">
                                            <img src="@movie.img">
                                        </div>
                                        <div class="infoMovie">
                                            <h2>@movie.name</h2>
                                            <h3>@movie.distributor</h3>
                                            <h3>@movie.duration</h3>
                                            <h3>Director: @movie.director</h3>
                                        </div>
                                        <button class="more">
                                            <a asp-action="MovieDetails"
                                   asp-route-id="@movie.idMovie" style="text-align: center;">
                                                View More
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h2 class="subtitle">No movies in this gender</h2>
                        }

                    </div>
                </section>
                
            }


        </div>

        <!--SERIES-->

    </main>


    <!--JS-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.min.js"></script>

    @{
        var slidernum = 4;
    }
    <script type="text/javascript">
        //RESPONSIVE SLIDER
        $(document).ready(function () {
            $('.slider').slick({
                infinite: true,
                autoplay: true,
                arrow: true,
                slidesToShow: @slidernum,
                slidesToScroll: 1,
                adaptiveHeight: true,
                adaptiveWidth: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });

        //RANDOM
        var random = $("section.container").get().sort(function () {
            return Math.round(Math.random()) - 0.5;
        }).slice(0.4)
        $(random).appendTo(random[0].parentNode).show();
    </script>

</body>

