@using ProyectoLenguajes.Data;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@model ProyectoLenguajes.Models.MovieFinal


@{
    ViewData["Title"] = "MovieDetails";

    TestUCRContext db = new TestUCRContext();

    var userNameM = User.FindFirstValue(ClaimTypes.Name);//To get the username of current account
    var id = db.ACCOUNTs
    .Where(a => a.userName == userNameM)
    .Select(a => a.idAccount)
    .FirstOrDefault();//To get the id of de current account in our database
    var imge = db.ACCOUNTs
    .Where(a => a.userName == userNameM)
    .Select(a => a.img)
    .FirstOrDefault();//To get the img of the current account in our database


    //get some information of the serie

    var dateMovie = DateOnly.FromDateTime(Model.movie.year);
    DateOnly dateActor;
    @foreach (var actor in Model.actors)
    {
        dateActor = DateOnly.FromDateTime(actor.birth);
    }

}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Hello</title>
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/userResponsive.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>
<body>

    <header>
        <div class="container">
            <h2 class="title">Hello!</h2>

            <!--NAVBAR-->
            <nav class="navbar navbar-expand-sm navbar navbar-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones" style="background-color: #DDE9F8">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="opciones">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Index" style="color: #ffffff;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Details/@id" style="color: #ffffff;">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Search", "User")" style="color: #ffffff;">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #ffffff;">My List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/UserAuthentication/Logout" style="color: #ffffff;">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <hr />
    
    <main>
        <!--Get the movie name-->
        <h1 class="subtitle">Movie Details: @Model.movie.name</h1>

        <div class="movieContainer">
            <!--Get the movie trailer-->
            <iframe class="trailer" src="@Model.movie.trailer" frameborder="1"></iframe>
            <!--Get the movie information-->
            <div class="movieInfo">
                <h2 class="subtitle">Description</h2>
                <span>@Model.movie.description</span>
                <br />
                <br />
                <h2 class="subtitle">Details</h2>
                <br />
                <span>Duration: @Model.movie.duration</span>
                <br />
                <span>Director: @Model.movie.director</span>
                <br />
                <span>Distributor: @Model.movie.distributor</span>
                <br />
                <span>Release date: @dateMovie</span>
                <br />
                <span>Punctuation: @Model.movie.punctuation</span>
                <br />
            </div>
        </div>

        <div>
            <!--MODAL 1 - ACTORS-->
            
            <button id="openModal1" class="moreButton glyphicon glyphicon-heart-empty"><br>Cast</button>

            <div id="modal1" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal1">&times;</span>
                    <div class="castDiv">
                        @foreach (var actor in Model.actors)
                        {
                            <div class="cardActor">
                                <div class="cardActorContent">
                                    <div class="imageActor">
                                        <img src="@actor.img">
                                    </div>
                                    <div class="infoActor">
                                        <h2>@actor.name  @actor.lastName</h2>
                                        <h3>Birthday: @dateActor</h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <!--MODAL 2 - COMMENTS-->
            <button id="openModal2" class="moreButton glyphicon glyphicon-thumbs-up"><br>Comment</button>

            <div id="modal2" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal2">&times;</span>
                    <div class="commentDiv">
                        <label for="comment" class="subtitle">Comment on this movie</label>
                        <textarea id="@Model.movie.idMovie" class="textC" required></textarea>
                        <br />
                        <h2 class="subtitle">Rate this movie for 1 to 10</h2>
                        <div class="inputRate">
                            <input type="number" class="textS" id="tentacles" name="tentacles" min="0" max="10" style="width: 150px;height: 35px;color: black;">
                        </div>

                        <button class="btnC moreButton" type="submit">Save</button>
                    </div>
                </div>

            </div>

            <!--MY LIST OPTION-->
            <button class="moreButton glyphicon glyphicon-bookmark"><br>MyList</button>
            <button class="moreButton glyphicon glyphicon-bookmark">
                <a asp-action="Save"
                   asp-route-id="@Model.movie.idMovie" style="text-align: center;">
                    <br>MyList
                </a>
            </button>
            <!--COMMENTS VIEW BELOW THE TRAILER MOVIE-->
            <div class="reviews">
                
                <div class="reviewsDiv">
                    <h2 class="subtitle" style="color: black;">Last 10 movie reviews</h2>
                    <div class="cardReview">
                        <div class="cardReviewContent">
                            @foreach(var review in Model.commentsPerPage)
                            {
                                <div class="infoComment">
                                    <span>@review.review</span>
                                    <br>
                                    <span>@review.reviewTime</span>
                                    <hr/>
                                </div>
                            }

                        </div>

                        <div id="pagination">
                            @if (Model.totalPages > 1)
                            {
                                @for (int i = 1; i <= Model.totalPages; i++)
                                {
                                    <a href="@Url.Action("MovieDetails", "User", new { id = Model.movie.idMovie, page = i })">@i</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!--JS-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        /***SEND COMMENTS INFORMATION TO THE CONTROLLER***/
        $('.btnC').click(function () {
            //get form data
            var datos = {
                text: $('.textC').val(),
                id: $('.textC').attr("id"),
                stars: parseInt($('.textS').val())
            };

            //ajax request
            $.ajax({
                url: '/User/Comment',
                type: 'GET',
                data: datos
                
            });
            
            //SUCCESFULL MESSAGE
            swal("YAY", "Thank you for you review!", "success")

            $('.textC').val("");
            $('.textS').val(0);
        });
    </script>
        
    <script>

        /***SCRIPT MODALS***/

        //MODAL 1 - ACTORS

        // Get the modal
        var modal = document.getElementById("modal1");
        // Get the button that opens the modal
        var btn = document.getElementById("openModal1");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeModal1")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>

        //MODAL 2 - COMMENTS

        // Get the modal
        var modal1 = document.getElementById("modal2");
        // Get the button that opens the modal
        var btn1 = document.getElementById("openModal2");
        // Get the <span> element that closes the modal
        var span1 = document.getElementsByClassName("closeModal2")[0];

        // When the user clicks on the button, open the modal
        btn1.onclick = function () {
            modal1.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span1.onclick = function () {
            modal1.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }
    </script>

</body>