@using ProyectoLenguajes.Data;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@model ProyectoLenguajes.Models.MovieFinal


@{
    ViewData["Title"] = "MovieDetails";
    var dateMovie = DateOnly.FromDateTime(Model.movie.year);
    DateOnly dateActor;
    @foreach (var actor in Model.actors)
    {
        dateActor = DateOnly.FromDateTime(actor.birth);
    }

}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/user.css">

    <title>Movie Information</title>

    
</head>

<body>
    <header>
        <div class="container">
            <h2 class="title">Hello!</h2>
            <a href="Index">Home</a>
            <a href="#">Profile</a>
            <a href="#">Search</a>
            <a href="#">My List</a>
            <a href="#">Log Out</a>
        </div>
        <hr />
    </header>
    
    <main>
        <h1 class="subtitle">Movie Details: @Model.movie.name</h1>

        <div class="movieContainer">
            <iframe class="trailer" src="@Model.movie.trailer" frameborder="1"></iframe>
            <div class="movieInfo">
                <h2 class="subtitle">Description</h2>
                <span>@Model.movie.description</span>
                <br />

                <h2 class="subtitle">Details</h2>
                <span>Duration: @Model.movie.duration</span>
                <br />
                <span>Director: @Model.movie.director</span>
                <br />
                <span>Distributor: @Model.movie.distributor</span>
                <br />
                <span>Release date: @dateMovie</span>
                <br />

                <h2 class="subtitle">Rate this movie for 1 to 10</h2>
                <br />
                <div class="circularButtons">
                    <button class="circular" style="background-color: #EC7063">1</button>
                    <button class="circular" style="background-color: #F5B7B1">2</button>
                    <button class="circular" style="background-color: #FADBD8">3</button>
                    <button class="circular" style="background-color: #FCF3CF">4</button>
                    <button class="circular" style="background-color: #F9E79F">5</button>
                    <button class="circular" style="background-color: #F9E79F">6</button>
                    <button class="circular" style="background-color: #FCF3CF">7</button>
                    <button class="circular" style="background-color: #7DCEA0 ">8</button>
                    <button class="circular" style="background-color: #52BE80">9</button>
                    <button class="circular" style="background-color: #27AE60">10</button>
                </div>
                
            </div>
        </div>

        <div>
            <!--modal button 1-->
            
            <!-- Trigger/Open The Modal -->
            <button id="openModal1" class="moreButton glyphicon glyphicon-heart-empty"><br>Cast</button>

            <!-- The Modal 1 -->
            <div id="modal1" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal1">&times;</span>
                    <div class="castDiv">
                        @foreach (var actor in Model.actors)
                        {
                            <div class="cardActor">
                                <div class="cardActorContent">
                                    <div class="imageActor">
                                        <img src="@actor.img">
                                    </div>
                                    <div class="infoActor">
                                        <h2>@actor.name  @actor.lastName</h2>
                                        <h3>Birthday: @dateActor</h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <!--modal button 2-->
            <button id="openModal2" class="moreButton glyphicon glyphicon-thumbs-up"><br>Comment</button>

            <div id="modal2" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal2">&times;</span>
                    <div class="commentDiv">
                        <label for="comment" class="subtitle">Comment on this movie</label>
                        <textarea id="@Model.movie.idMovie" class="textC" required></textarea>
                        <button class="btnC" type="submit">Comment</button>
                    </div>
                </div>

            </div>

            <!--My List-->
            <button class="moreButton glyphicon glyphicon-bookmark"><br>Save</button>

            <div class="reviews">
                <div class="reviewsDiv">
                    <div class="cardReview">
                        <div class="cardReviewContent">
                            <h2 class="subtitle">Movie reviews</h2>
                            @foreach(var review in Model.reviews)
                            {
                                <div class="infoComment">
                                    <span>@review.review</span>
                                    <br>
                                    <span>@review.reviewTime</span>
                                    <hr/>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        
    </main>
    
    <script>

        /***SCRIPT MODALS***/

        //MODAL 1
        // Get the modal
        var modal = document.getElementById("modal1");
        // Get the button that opens the modal
        var btn = document.getElementById("openModal1");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeModal1")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        //MODAL 2
        // Get the modal
        var modal1 = document.getElementById("modal2");
        // Get the button that opens the modal
        var btn1 = document.getElementById("openModal2");
        // Get the <span> element that closes the modal
        var span1 = document.getElementsByClassName("closeModal2")[0];

        // When the user clicks on the button, open the modal
        btn1.onclick = function () {
            modal1.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span1.onclick = function () {
            modal1.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal1.style.display = "none";
            }
        }


        /***COMMENTSS***/
        $('.btnC').click(function () {
            //get form data
            var datos = {
                text: $('.textC').val(),
                id: $('.textC').attr("id")
            };

            //ajax request
            $.ajax({
                url: '/User/Comment',
                type: 'POST',
                data: datos
            });
        });

    </script>
</body>