@using ProyectoLenguajes.Data;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@model ProyectoLenguajes.Models.SerieFinal


@{
    ViewData["Title"] = "SerieDetails";
    var dateSerie = DateOnly.FromDateTime(Model.serie.year);
    DateOnly dateActor;
    @foreach (var actor in Model.actors)
    {
        dateActor = DateOnly.FromDateTime(actor.birth);
    }


}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/user.css">

    <title>Movie Information</title>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />

</head>

<body>
    <header>
        <div class="container">
            <h2 class="title">Hello!</h2>
            <a href="Index">Home</a>
            <a href="#">Profile</a>
            <a href="#">Search</a>
            <a href="#">My List</a>
            <a href="#">Log Out</a>
        </div>
        <hr />
    </header>

    <main>
        <h1 class="subtitle">Serie Details: @Model.serie.name</h1>

        <div class="movieContainer">
            <iframe class="trailer" src="@Model.serie.trailer" frameborder="1"></iframe>
            <div class="movieInfo">
                <h2 class="subtitle">Description</h2>
                <span>@Model.serie.description</span>
                <br />

                <h2 class="subtitle">Details</h2>
                <span>Seasons: @Model.serie.seasons</span>
                <br />
                <span>Director: @Model.serie.director</span>
                <br />
                <span>Distributor: @Model.serie.distributor</span>
                <br />
                <span>Release date: @dateSerie</span>
                <br />

                <span>Punctuation: @Model.serie.punctuation</span>
                <br />
                
            </div>
        </div>

        <div>
            <!--modal button 1-->
            <!-- Trigger/Open The Modal -->
            <button id="openModal1" class="moreButton glyphicon glyphicon-heart-empty"><br>Cast</button>

            <!-- The Modal 1 -->
            <div id="modal1" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal1">&times;</span>
                    <div class="castDiv">
                        @foreach (var actor in Model.actors)
                        {
                            <div class="cardActor">
                                <div class="cardActorContent">
                                    <div class="imageActor">
                                        <img src="@actor.img">
                                    </div>
                                    <div class="infoActor">
                                        <h2>@actor.name  @actor.lastName</h2>
                                        <h3>Birthday: @dateActor</h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <!--modal button 2-->
            <button id="openModal2" class="moreButton glyphicon glyphicon-thumbs-up"><br>Comment</button>

            <div id="modal2" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal2">&times;</span>
                    <div class="commentDiv">
                        <label for="comment" class="subtitle">Comment on this serie</label>
                        <textarea id="@Model.serie.idSerie" class="textC" required></textarea>

                        <h2 class="subtitle">Rate this serie for 1 to 10</h2>
                        <br />
                        <div class="inputRate">
                            <input type="number" class="textS" id="tentacles" name="tentacles" min="0" max="10" style="width: 150px;height: 35px;color: black;">
                        </div>

                        <button class="btnC moreButton" type="submit">Save</button>
                    </div>
                </div>

            </div>

            <!--modal button 3-->
            <!-- Trigger/Open The Modal -->
            <button id="openModal3" class="moreButton glyphicon glyphicon-facetime-video"><br>Chapters</button>

            <!-- The Modal 1 -->
            <div id="modal3" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="closeModal3">&times;</span>
                    <div class="chaptersDiv">
                        @foreach (var chapter in Model.chapters)
                        {
                            <div class="cardChapter">
                                <div class="cardChapterContent">
                                        <div class="imageChapter">
                                            <img src="@chapter.img">
                                        </div>
                                        <div class="infoChapter">
                                            <h2>@chapter.name</h2>
                                            <br>
                                            <span>Description: @chapter.description</span>
                                            <br>
                                            <br>
                                            <span>Season: @chapter.season</span>
                                            <br>
                                            <span>Chapter number: @chapter.numChapter</span>
                                            <br>
                                            <span>Duration: @chapter.duration</span>
                                            <br>
                                        </div>
                                        
                                </div>
                             </div>
                        }
                    </div>
                </div>

            </div>

            <!--My List-->
            <button class="moreButton glyphicon glyphicon-bookmark"><br>MyList</button>


            <!--Comments-->
            <div class="reviews">

                <div class="reviewsDiv">
                    <h2 class="subtitle" style="color: black;">Last 10 serie reviews</h2>
                    <div class="cardReview">
                        <div class="cardReviewContent">
                            @foreach (var review in Model.reviews)
                            {
                                <div class="infoComment">
                                    <span>@review.review</span>
                                    <br>
                                    <span>@review.times</span>
                                    <hr />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>




    </main>

    <!--JS-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        /***COMMENTSS***/
        $('.btnC').click(function () {
            //get form data
            var datos = {
                text: $('.textC').val(),
                id: $('.textC').attr("id"),
                stars: parseInt($('.textS').val())
            };

            //ajax request
            $.ajax({
                url: '/User/CommentSerie',
                type: 'GET',
                data: datos


            });

            swal("YAY", "Thank you for you review!", "success")

            $('.textC').val("");
            $('.textS').val(0);
        });


    </script>

    <script>

        /***SCRIPT MODALS***/

        //MODAL 1
        // Get the modal
        var modal = document.getElementById("modal1");
        // Get the button that opens the modal
        var btn = document.getElementById("openModal1");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeModal1")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>

    <script>

        //MODAL 2
        // Get the modal
        var modal1 = document.getElementById("modal2");
        // Get the button that opens the modal
        var btn1 = document.getElementById("openModal2");
        // Get the <span> element that closes the modal
        var span1 = document.getElementsByClassName("closeModal2")[0];

        // When the user clicks on the button, open the modal
        btn1.onclick = function () {
            modal1.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span1.onclick = function () {
            modal1.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }


    </script>

    <script>
        //MODAL 3
        // Get the modal
        var modal2 = document.getElementById("modal3");
        // Get the button that opens the modal
        var btn2 = document.getElementById("openModal3");
        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("closeModal3")[0];

        // When the user clicks on the button, open the modal
        btn2.onclick = function () {
            modal2.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span2.onclick = function () {
            modal2.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        }
    </script>
</body>